* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #fff;
    --second-bg-color: #F5F5F5;
    --text-color: #231709;
    --second-color: #4A372A;
    --main-color: #FFB6C1;
    --big-font: 5rem;
    --h2-font: 30px;
    --p-font: 1.1rem;
}

/* Body */

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Lexend', sans-serif;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--bg-color);
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.logo {
    color: lightpink;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: .5px;
    font-size: 12px;
    padding: 1rem;
    display: block;
}

.nav-links a:hover {
    color: grey;
}


/* Home */

.hero {
    height: 100%;
    width: 100%;
    min-height: 80vh;
    background: var(--bg-color);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section {
    padding: 0 20%;
}

.hero-text h1 {
    line-height: 1;
    color: var(--text-color);
    margin: 0 0 45px;
    font-size: 30px;
    margin-left: 30%;
    font-weight: 700;
}


.hero-text p {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.9;
    margin-bottom: 40px;
    margin-left: 30%;
    font-weight: 500;
}

.hero-img img {
    width: 300px;
    height: auto;
}

section {
    padding: 160px 15% 120px;
}

.pink {
    background-color: mistyrose;
}

.purple {
    background-color: thistle;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    transition: all .45s ease;
    margin-left: 30%;
}

.btn:hover {
    transform: scale(0.9);
}

/* Socials Bar */

.icons {
    position: absolute;
    top: 50%;
    left: 80%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: var(--main-color);
    transition: all .50s ease;
}

.icons i:hover {
    color:#ffe3e7;
    transform: translateY(-5px);
}

/* My Work */

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,.6), #ff00);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--bg-color);
}

.main-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
    text-transform: uppercase;
}

.layer p {
    color: var(--second-bg-color);
    font-size: 1rem;
    line-height: 1.8;
}

.layer i {
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--bg-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

/* Works */

.mywork6 {
	background-color: #1f1f1f;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.mywork6 h1 {
	font-size: 36px;
	margin: 0;
}

.main-mywork6 {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.section1-mywork6,
.section2-mywork6,
.section3-mywork6,
.section4-mywork6 {
	flex-basis: 100%;
	margin-bottom: 40px;
}

section:last-child {
	margin-bottom: 0;
}

.main-mywork6 h2 {
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 20px;
}

.main-mywork6 p {
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
	margin-bottom: 20px;
}

/* About Me */

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 50%;
    height: 600px;
    background-image: url(images/aboutme.jpg);
    border-radius: 8px;
}

.right {
    width: 50%;
    min-height: 400px;
    background-color: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: var(--text-color);
    margin-left: -150px;
}

.right h2 {
    font-size: var(--h2-font);
    line-height: 1;
    text-transform: uppercase;
    line-height: 2;
}

.right p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 2rem;
}

/* Contact */

.contact {
    background: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.contact-text h2 {
    font-size: var(--h2-font);
    line-height: 2;
    text-transform: uppercase;
}

.contact-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
}

.list {
    margin-bottom: 2.8rem;
}

.list li {
    margin-bottom: 12px;
}

.list li a {
    display: block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
    font-style: italic;
}

.list li a:hover {
    color: var(--text-color);
    transform: translateX(5px);
}

.contact-icons i {
    height: 45px;
    width: 45px;
    background: var(--main-color);
    color: var(--text-color);
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}

.contact-icons i:hover {
    background: var(--text-color);
    color: var(--main-color);
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 14px;
    background: var(--second-bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-family: 'Lexend', sans-serif;
}

.contact-form textarea{
    resize: none;
    height: 240px;
}

.contact-form .submit {
    display: inline-block;
    font-size: 16px;
    background: var(--main-color);
    color: var(--text-color);
    width: 160px;
    transition: all .45s ease;
}

.contact-form .submit:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Footer */

footer {
    background: var(--second-bg-color);
    height: 10rem;
    width: 100vw;
    bottom: 0;
    font-family: 'Lexend', sans-serif;
    padding-top: 40px;
    color: var(--text-color);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 20px;
    margin: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 2;
}

.footer-content p {
    max-width: 500px;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: var(--main-color);
}

.socials a i {
    margin: 0px 0;
    font-size: 28px;
    transition: color .4s ease;
}

.socials a:hover {
    color:#ffe3e7;
    transform: translateY(-5px);
}

.footer-bottom {
    background: var(--second-bg-color);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 12px;
    word-spacing: 2px;
    text-transform: capitalize;
}

/* My Work Individuals */

    /* --- Header --- */

.header-mywork1 {
    background: #f8faef;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
}

.header-mywork2 {
    background: #f7f1fa;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
}

.header-mywork3 {
    background: #fff0f1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
}

.headertext-mywork {
    margin: 50px;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.headerimg-mywork {
    grid-column-start: 3;
    grid-column-end: 3;
}

.header-mywork span {
    background-color: var(--main-color);
}

.headertext-mywork h1 {
    line-height: 1.6;
    color: var(--text-color);
    font-size: 26px;
    font-weight: 700;
}

.headertext-mywork p {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
}

.headerimg-mywork img {
    width: 300px;
    height: auto;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    transition: all .45s ease;
    margin: 2% 0;
}

.btn:hover {
    transform: scale(0.9);
}

    /* --- Div 1 --- */


.div1-mywork {
    background: var(--bg-color);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    line-height: 1.6;
}

.div1-mywork h2 {
    font-size: 23px;
    font-weight: 700;
}

.div1-mywork p {
    font-size: 17px;
    font-weight: 400;
}

.section1-1-mywork {
    margin: 50px;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.section1-2-mywork {
    grid-column-start: 3;
    grid-column-end: 3;
}

.section2-1-mywork img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
    object-fit: cover;
	max-width: 100%;
    align-self: center;
}

.section2-2-mywork .btn {
    display: block;
    margin: 0 auto;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    transition: all .45s ease;
    width: 100%;
    max-width: 300px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section2-2-mywork .btn:hover {
    transform: scale(0.9);
}

/* Error */

.error-container {
    text-align: center;
    margin-top: 100px;
    height: 100vh;
}

.error-container h1 {
    font-size: 72px;
    color: var(--main-color);
    margin-bottom: 20px;
}

.error-container .btn {
    display: inline-block;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    transition: all .45s ease;
    margin: 20px;
}

.error-container .btn:hover {
    transform: scale(0.9);
}

/* Responsive Design */

@media screen and (max-width: 840px) {
    .container {
        flex-direction: column;
        width: 100%;
        margin: 0 20px;
    }

    .left {
        width: 100%;
        height: 400px;
    }

    .right {
        width: 90%;
        margin: 0;
        margin-top: -100px;
    }

    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .div1-mywork {
        grid-template-columns: 1fr;
        gap: 1rem;
        text-align: center;
    }

    .section1-1-mywork,
    .section1-2-mywork {
        margin: 10px;
        padding: 10px;
        grid-column-start: auto;
        grid-column-end: auto;
    }

    .section2-2-mywork .btn {
        margin: 2% auto;
    }

    .header-mywork1, .header-mywork2, .header-mywork3 {
        grid-template-columns: repeat(2, 1fr);
    }
    .headertext-mywork {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        margin: 20px;
    }
    .headerimg-mywork {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
    }
    .hero {
        grid-template-columns: 1fr;
    }

    .icons {
        opacity: 0;
    }

    .hero-text h1,
    .hero-text p,
    .hero-img {
    margin: 0 auto;
    }

    .contact {
        grid-template-columns: 1fr;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .about-img {
        text-align: center;
        order: 2;
    }

    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    .contact {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 841px) and (max-width: 920px) {
    .div1-mywork {
        grid-template-columns: repeat(1, 1fr);
    }

    .section1-1-mywork,
    .section1-2-mywork {
        margin: 20px;
        padding: 20px;
    }

    .section2-2-mywork .btn {
        max-width: 250px;
      }
    
}

@media screen and (min-width: 921px) and (max-width: 1100px) {
    :root {
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }

    .home-text h3 {
        font-size: 2.5rem;
    }

    .home {
        height: 87vh;
    }

    .nav-links {
        width: 40%;
    }
    
    .div1-mywork {
        grid-template-columns: repeat(3, 1fr);
    }

    .section1-1-mywork,
    .section1-2-mywork {
        margin: 30px;
        padding: 30px;
    }

    .section2-2-mywork .btn {
        max-width: 300px;
      }

}

@media screen and (min-width: 1101px) {
    .div1-mywork {
        grid-template-columns: repeat(2, 1fr);
    }

    .section1-1-mywork,
    .section1-2-mywork {
        margin: 50px;
        padding: 20px;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .section1-2-mywork {
        grid-column-start: 3;
        grid-column-end: 3;
    }

    .section2-2-mywork .btn {
        max-width: 350px;
      }    
}

@media (max-width: 1480px) {
    header {
        padding: 12px 2.5%;
        transition: .1s;
    }

    header.sticky {
        padding: 10px 2.5%;
        transition: .1s;
    }

    section {
        padding: 110px 3% 60px;
    }

    .end {
        padding: 15px 3%;
    }
}